@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

body {
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #333333;

    /* help from https://cssgradient.io/ */
    background: rgb(151,143,205);
    background: linear-gradient(90deg, rgba(151,143,205,1) 0%, rgba(204,135,185,1) 100%);
}




/* Navigation */
#navbar {
    background-color: #FFFCFB;

    /* PROBLEMATIC JUMPING */
    /* height: 60px; */
    /* padding: 0; */
    /* PROBLEMATIC JUMPING */

    border-bottom: 1px solid #978FCD;
}

#navbarNav {
    text-transform: uppercase;
    padding: 0;
    padding-right: 30px;
    background-color: #FFFCFB;
}

.navbar-brand {
    padding: 0;
    margin-left: 30px;
}

.navbar-toggler {
    border: none;
    padding: 0;
    margin-right: 30px;
}

@media (max-width: 991px) {
    .navbar-toggler {
        margin-right: 25px;
    }
    .navbar-brand {
        margin-left: 25px;
    }
}

/* Navigation */



/* Header */
#header {
    height: 50vh;
}

.header-content {
    margin-top: 20vh;
}
/* Header */





/* Main content */

#section-content {
    background-color: #FFFCFB;
    height: 30vh;
}

/* Shortcuts */
#content-shortcuts {
    width: 33%;
}

.img-city {
    /* height: 70px;
    width: 70px; */
}
/* Shortcuts */

/* Additional content */
#content-additional-text {
    background: rgb(206,202,232);
    background: linear-gradient(90deg, rgba(206,202,232,1) 0%, rgba(236,206,228,1) 100%);
}
/* Additional content */

/* Preview content */
#img-outfit {
    max-height: 130px;
}

.feature-weather {
    background-color: #FFF1EC;
}

.feature-clothes {
    background-color: #EFECFF;
}

.features {
    float: left;
}
/*Preview content */

/* Main content */





/* Footer */
footer{
    height: 20vh;
    background: rgb(151,143,205);
    background: linear-gradient(90deg, rgba(151,143,205,1) 0%, rgba(204,135,185,1) 100%);
}

.social-icons a img{
    height: 25px;
    float: right;
}
/* Footer */





/* General styles and effects */
.square {
    height: 70px;
    width: 70px;
}

.shadow-main {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.radius {
    border-radius: 10px;
}


/* General styles and effects */